// Define variables for your color scheme
$red: #FD1015;
// Main color
$blue: #032A51;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
// Secondary color
$gray: #383838;
// Body background
$light-gray: #F7F7F7;
