// Define variables for your color scheme
$blue: #032A51;
$light-blue: #A7BFC7;
$red: #C3414A;
$gray: #383838;
$light-gray: #FCFCFC;
$diluted-gray: transparentize($light-gray, .2);
$black-background: #2B2B2B;
$diluted-black: transparentize($black-background, .2);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
