<div class="container-about">
  <div>
    <h2>Know me in three lines</h2 >
  </div>
  <div>
    <p> Certified Ruby on Rails full stack developer.</p>
    <p> Self-taught HTML, CSS and Javascript programmer.<p/>
    <p> Additional skill as licensed graphic designer with over 5 years of bilingual employment. <p/>
  </div>
</div>
