<!-- <div class="about"> -->
  <div>
    <div class="container-section">
      <h3>Get to know me</h3>
      <p> Prior to taking formal training, I spent several months teaching myself basic HTML, CSS and Javascript <br>
          I eventually enrolled in Le Wagon's full-stack programming bootcamp and I am looking forward to code full time and keep
          developing my programmer skills.
      </p>
    </div>
    <h4> Technical skills </h4>
    <div class="container-language">
      <% icons.each do |language, url| %>
        <div >
          <%= cl_image_tag url, crop: :fill, width: 30, height: 30 %>
          <p><%= language.capitalize %></p>
        </div>
      <% end %>
    </div>


 <!--
    <div>
      <h4>Intuitive design</h4>
      <p>My intent is to make clean, easy to use websites</p>
    </div>
    <div>
      <h4>Responsiveness</h4>
      <p>My work takes care in being fully responsive, trying to make the best
      out of each medium elements</p>
    </div>
    <div>
      <h4>Beautifulness</h4>
      <p>My job is to make the user forget that this site is designed</p>
    </div> -->
  </div>
<!-- </div> -->
