<div class="about">
  <div class="div">
    <div class="div">
      <h3>Where did I came from?</h3>
      <p>I spent a few months learning by myself,
        then I enrolled in lewagon and now i am ready
        to kick ass, when designing i take in considerartion the following elements
      </p>
    </div>

    <div class="div">
      <h4>Intuitive design</h4>
      <p>My intent is to make clean, easy to use websites</p>
    </div>
    <div class="div">
      <h4>Responsiveness</h4>
      <p>My work takes care in being fully responsive, trying to make the best
      out of each medium elements</p>
    </div>
    <div class="div">
      <h4>Beautifulness</h4>
      <p>My job is to make the user forget that this site is designed</p>
    </div>
  </div>
  <div>
    <%= cl_image_tag "clarify-2_ush7rf",
      width: 190, height: 350, crop: :fill %>
    <!--
    <%= image_tag "https://picsum.photos/350", alt: "alttext" %>
     -->
  </div>
</div>
