<div class="container-about">
  <div>
    <h2>My summarized experience</h2>
  </div>
  <div class="container-text">
    <div class="text-about-item">
      <div class="text-about-bullet"><i class="fas fa-graduation-cap"></i></div>

      <span>Certified Ruby on Rails full stack developer.</span>
    </div>
    <div class="text-about-item">
      <div class="text-about-bullet"><i class="fas fa-book"></i></div>

      <span>Self-taught HTML, CSS and Javascript programmer.</span>
    </div>
    <div class="text-about-item">
      <div class="text-about-bullet"><i class="fas fa-comment-dots"></i></div>

      <span>Additional skill as licensed graphic designer with over 5 years of bilingual employment.</span>
    </div>
  </div>
</div>
