<div>
  <div class="container-section">
    <h3>Get to know me</h3>
    <p> Prior to taking formal training, I spent several months teaching myself basic HTML, CSS and Javascript <br>
        I eventually enrolled in Le Wagon's full-stack programming bootcamp and I am looking forward to code full time and keep
        developing my programmer skills.
    </p>
  </div>
  <h4> Technical skills </h4>
  <div class="container-language">
    <% icons.each do |language, url| %>
      <div >
        <%= cl_image_tag url, crop: :fill, width: 30, height: 30 %>
        <p><%= language.capitalize %></p>
      </div>
    <% end %>
  </div>
</div>
