<div class="container-about">
  <div>
    <h2>My summarized experience</h2>
  </div>
  <div class="container-text">
    <p> Certified Ruby on Rails full stack developer.</p>
    <p> Self-taught HTML, CSS and Javascript programmer.<p/>
    <p> Additional skill as licensed graphic designer with over 5 years of bilingual employment. <p/>
  </div>
</div>
