<div class="about">
  <div>
    <div>
      <h3>Where did I came from?</h3>
      <p> Prior to taking formal training, I spent several months teaching myself basic HTML, CSS and Javascript.
          I eventually enrolled in a fullstack programming bootcamp and I am looking forward to code full time and keep
          developing my programmer skills.
      </p>
    </div>

 <!--    <div>
      <h4>Intuitive design</h4>
      <p>My intent is to make clean, easy to use websites</p>
    </div>
    <div>
      <h4>Responsiveness</h4>
      <p>My work takes care in being fully responsive, trying to make the best
      out of each medium elements</p>
    </div>
    <div>
      <h4>Beautifulness</h4>
      <p>My job is to make the user forget that this site is designed</p>
    </div> -->
  </div>
</div>
