<div class="custom-navbar-footer">
  <div class="navbar-links">
    <a href="https://www.linkedin.com/in/arturo-est-nav/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/ArturoEstNav">
      <i class="fab fa-github-square"></i>
    </a>
  </div>
</div>
