<div class="mail">
  <h2>Let's know each other</h2>
  <div class="container-temporary-contact">
    <div class="contact-block">
      <i class="fas fa-envelope-square icon-sizes-solid"></i><span style="margin-left: 16px;">contact@arturoestnav.com</span>
    </div>
    <div class="contact-block">
      <i class="fab fa-whatsapp-square icon-sizes-solid"></i></i><span style="margin-left: 16px;">5525595933</span>
    </div>
  </div>
</div>
