<div class="custom-navbar-main">
  <div class="navbar-links">
    <a href="http://www.arturoestnav.com/#about">About</a>
    <a href="http://www.arturoestnav.com/#projects">Projects</a>
  </div>
</div>
