<div class="container-projects">
  <h2>
    Software projects
  </h2>
  <ul>
    <% projects.each do |project|%>

    <li>
      <div class="container-project">
        <div>
          <h3><%= project.name %></h3>
          <p> <%= project.description %> </p>
          <%= link_to "Visit page", project.url %>
        </div>
        <div>
          <!-- Carousel goes here -->

          <%= image_tag "https://picsum.photos/350", alt: "alttext" %>
        </div>
      </div>
    </li>

    <% end %>
  </ul>
</div>


<!-- taken -->
<div class="custom-container-section custom-carousel" id="saved">
  <!-- Controls with offer header -->
  <div class="custom-controls">
    <div class="custom-carousel-button"><i class="fas fa-caret-left"></i></div>
    <div class="custom-carousel-button"><i class="fas fa-caret-right"></i></div>
  </div>
  <div class="custom-carousel-track">
    <!-- each de imagenes guardadas -->
  </div>
</div>
