<div class="container-projects">
  <h2>
    Software projects
  </h2>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <div class="container-project">
          <div class="project-image"></div>
          <div class="project-description">
            <h4><%= project.name %></h4>
            <p class="text-language"> <%= project.description %> </p>
            <%= link_to "Visit page", project.url, target: :_blank, class: "link text-red" %>
          </div>
          <!-- <%= cl_image_tag "remote-scanner-1_o4w8kr", height: 190, width: 330, crop: :fill %></div> -->

          <p>
            <% project.technologies.each do |item| %>
              item
            <% end %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
