<div class="custom-container greeting">
  <h1>Hi, I am Arturo Estrada and <br>
  I am a fullstack web developer</h1>
</div>
<div class="custom-container">
  <%= render "shared/about" %>
</div>
<div class="custom-container">
  <%= render "shared/project_list" %>
</div>
<div class="custom-container">
  <%= render "shared/mailing" %>
</div>
<div class="custom-container mailing">
  this tiny microphone
</div>
