<div class="custom-container container-greeting">
  <div>
    <h1>
      Hi, I am Arturo Estrada, <br>
      <span class="container-greeing-accent">
        I'm a fullstack Ruby on Rails developer
      </span>
    </h1>
  </div>
</div>
<div class="custom-container" id="about" >
  <%= render "shared/about" %>
</div>
<div class="custom-container" id="projects">
  <div class="container-projects">
    <%= render "shared/project_list", projects: @projects %>
  </div>
</div>
<div class="custom-container">
  <div class="mail">
    <%= render "contacts/new" %>
  </div>
</div>
