<div class="custom-container greeting">
  <h1>My name is Arturo Estrada, <br>
  I am a <span class="text-red">fullstack web developer</span></h1>
</div>
<div class="custom-container about" id="about" >
  <%= render "shared/about", icons: @icons %>
</div>
<div class="custom-container projects" id="projects">
  <%= render "shared/project_list", projects: @projects %>
</div>
<div class="custom-container mailing">
  <div class="mail">
    <%= render "contacts/new" %>
  </div>
</div>
