<div class="custom-container container-successful-contact">
  <div>
    <h4>Thank you for reaching out</h4>
    <p>I check emails daily at 17:00 and 20:00 central time.</p>
    <p>I will reply as soon as I have a chance.</p>
    <br>
    <%= link_to "Go back to site", root_path, class: "text-primary link" %>
  </div>
</div>
