<div class="container-successful-contact">
  <div>
    <h4>Thank you for reaching out</h4>
    <p>I check emails daily at 4pm and 8pm central time </p>
    <p>Expect an answer real soon</p>
    <br>
    <%= link_to "Go back to site", root_path, class: "text-primary" %>
  </div>
</div>
