.custom-carousel-button {
  display: inline-block;
  color: $blue;
}

.custom-card-content {
  overflow: auto;

}

#new_match a {
  padding: 0;
}

// custom carousel

.custom-carousel {
  overflow: hidden;
}

.custom-carousel-header {
  // padding: 0 16px;
  // display: flex;
  justify-content: space-between;

  .custom-controls {
    // width: 80px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    font-size: 20pt;

    div:hover {
      cursor: pointer;
    }
  }
}

.custom-carousel-track {
  // height: 300px;
  // width: 100%;
  // position: relative;
  // padding: 0;
  transition: transform 250ms ease-in;

  @media screen and (min-width: $small) {
    // border: 5px solid red;
    // height: 300px;
    // padding: 0px;
  }

  @media screen and (min-width: $medium) {
    // border: 1px solid blue;
    // height: 300px;
    // padding: 0px;
  }
  .custom-carousel-slide {
    position: absolute;
    // transition: 250ms ease-in-out;
    // border-radius: 4px;
    // box-sizing: border-box;
    // padding: 16px;
    // margin: 0;
    // height: 94%;
    // width: 100%;
    // top: 0;
    // left: 0;

    @media screen and (min-width: $small) {
      // width: 49%;
      // top: 0;
      // left: 0;
      // margin: 0 12px;
    }

    @media screen and (min-width: $medium) {
      // width: 33%;
      // margin: 16px;
    }


  }
}

.custom-controls {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}


// inner slide contents

.container-image {
  margin: 24px 0;
  padding: 0 0 32px 0;

  @media screen and (min-width: $medium){
    margin: 0 64px;
  }
}

.projects {
  height: auto;
}

.container-project {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding-bottom: 64px;
  align-items: center;

  @media screen and (min-width: $medium){
    display: flex;
    flex-direction: row;
    align-items: start;
  }
}

.container-text, .project-description-text {
  padding-left: 32px;

  @media screen and (max-width: $small){
    padding-left: 24px;
  }
}

.container-link-project {
  margin-top: 24px;
}
