.custom-container-section{
  display: block;
  height: auto;
} 

.custom-carousel-button {
  display: inline-block;
  color: $blue;

  &:hover {
    cursor: pointer;
  }
}

.custom-carousel {
  overflow: hidden;
}

.custom-carousel-header {
  .custom-controls {
    font-size: 20pt;
  }
}

.custom-carousel-track {
  position: relative;
  transition: transform 250ms ease-in;

  .custom-carousel-slide {
    position: absolute;
    transition: 250ms ease-in-out;
    width: 100%;
  }
}

.custom-controls {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.container-image {
  margin: 24px 0;
  padding: 0 0 32px 0;

  @media screen and (min-width: $medium){
    margin: 0 48px;
  }
}

.container-projects {
  height: auto;
}

.container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}

.project-description {
  width: 100%;
}

.container-text {
  padding-left: 0px;
  
  @media screen and (min-width: $medium){
    padding-left: 32px;
  }
}

.container-link-project {
  margin-top: 24px;
}
