.application-container {
  width: 100%;

}
.custom-container {
  width: 100vw;
  height: calc(100vh - 50px);
  padding: 0 32px;

}

.greeting {
  // different heights depending on bars interacying with them
}

.mail {
  // different heights depending on bars interacying with them
  height: calc(100vh - 100px);
}

.container-projects {

}
