.custom-container {
  width: 100%;
  padding: 48px;

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.about {
  padding-top: 56px;

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){
    // height: calc(100vh - 48px);
    display: flex;

  }

  @media screen and (min-width: $large){

  }
}

.mail {
  // height: calc(100vh - 144px);
  padding: 32px 0;


  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.container-section {
  padding-bottom: 32px;
}

.projects {
  height: auto;

}

.container-project {
  display: flex;
  flex-direction: column;

  padding: 32px 0 32px 32px;

  @media screen and (min-width: $small){
    // display: grid;
    padding: 32px 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
     align-items: start;
  }


}

.project-image {
  margin: 0;
  padding-bottom: 32px;

  @media screen and (min-width: $small){
    margin: 0 32px;
    padding: 0;
  }

  @media screen and (min-width: $medium){
    margin: 0 64px;
  }
}


.container-language {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

  @media screen and (min-width: $small){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $large){
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.container-language img, .container-language p {
  display: inline;
  margin: 12px 0 12px 12px;
}

.container-temporary-contact {
  display: block;

  @media screen and (min-width: $small){
    display: flex;
  }
}

.container-temporary-contact div {
  color: $blue;
  display: flex;
  align-items: center;
  opacity: 1;
  padding: 0 32px 32px 0;

  @media screen and (min-width: $small){
    padding: 0 32px 0 0;
  }
}

.contact-block {
  display: block;
}
