.custom-container {
  width: 100%;
  height: calc(100vh - 48px);
  padding: 0 32px;

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.mail {
  height: calc(100vh - 96px);

  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }
}

.container-projects {



  @media screen and (min-width: $small){

  }

  @media screen and (min-width: $medium){

  }

  @media screen and (min-width: $large){

  }

}
