h1, h2, h3, h4, h5, h6  {
  padding-bottom: 24px;
}

h1 {
  text-align: center;
  color: $blue;

  @media screen and (min-width: $small){
    text-align: left;
  }
}

// This section is meant to override ugly character standard behavior
// not necesarily text but undesirable characters

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  &:hover{
    text-decoration: none;
    color: inherit;
    opacity: .7;
  }
}

ul {
  list-style: none;
  padding: 0;
}

