body {
  color: $black-background;
}


h1, h2, h3 {
  padding-bottom: 24px;
  color: $blue;
}

h1 {
  text-align: center;
  @media screen and (min-width: $small){
    text-align: left;
  }
}

// This section is meant to override ugly character standard behavior
// not necesarily text but undesirable characters
.text-language, .text-red, a {
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    opacity: .7;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  color: inherit;
}

.text-red {
  color: inherit;
}
