body {
  color: $black-background;
}

h1, h2, h3 {
  color: $blue;
  padding-bottom: 28px;
}

h1 {
  padding-bottom: 24px;
  text-align: left;
  @media screen and (max-width: $small){
    text-align: center;
  }
}

// This section is meant to override ugly character standard behavior
// not necesarily text but undesirable characters
.text-language, .text-bold, a {
  font-weight: 600;
  color: inherit;
}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    opacity: .7;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  color: inherit;
}
