.dark-mode {
  background-color: $black-background;

  body, p, .btn, .link, .custom-navbar-main, span,
  .custom-navbar-footer, form .text-about-item, h1,
  .container-mail, .icon-sizes, .icon-image-sizes,
  .icon-sizes-solid, a, .custom-button, .container-project,
  .project-description-text, .form-control {
    color: white;
  }

  input, .form-control {
    background-color: transparent;

    &:active, &:focus, &:hover, &:focus-within {
      background-color: transparent;
      color: white;
      border-color: $light-gray;
    }
  }

  .custom-navbar-main {
    background: linear-gradient(0deg, transparent, $diluted-black, $black-background);
  }

  .custom-navbar-footer, .custom-button {
    background-color: $black-background;
  }

  .custom-button {
    border: 1px solid white;
    &:hover, &:hover {
      border: 1px solid $light-blue;
    }
  }

  h2, h3, h4, .text-bold, .text-about-bullet,
  .container-greeing-accent, .custom-button, .toggle-btn {
    color: $light-blue;
  }

  a, .btn, .link, .button-project, .icon-sizes {
    transition: 150ms ease-out;
    color: white;

    &:hover{
      color: $light-blue;
      opacity: 1;
    }
  }
  .img-dark {
    background-color: white;
    border-radius: 4px;
    border: 1.25px solid white;
  }
}
